[
    {
        "type": "function",
        "function": {
            "name": "getCurrentCart",
            "description": "You should call this function whenever you want to see current product items in the cart",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "getProductDetails",
            "description": "You should call this function whenever you want to check a certain product details that includes name, stock, description, price and image. If this function returns nothing, you should assume that the provided id is invalid",
            "parameters": {
                "type": "object",
                "properties": {
                    "product_id": {
                        "type": "integer",
                        "description": "The product id for obtaining details"
                    }
                },
                "required": ["product_id"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "addProduct",
            "description": "You should call this function whenever you want to add product items in the cart.",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be added"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "How many of the product to be added?"
                                }
                            },
                            "required": ["product_id", "quantity"]
                        }
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "modifyCart",
            "description": "You should call this function whenever you want to modify product items in the cart",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be modified"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "The quantity of the product to be modified."
                                }
                            },
                            "required": ["product_id", "quantity"]
                        },
                        "description": "list of product dictionaries"
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "showInvoice",
            "description": "You should call this function whenever you want to show user invoice. If this tool is successfully called, strictly return a message following this template: [{\"Action\": {\"bot_action\": \"redirect_invoice\", \"data\": {\"invoiceid\": \"id\"}}}]",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    }
]
