[
    {
        "type": "function",
        "function": {
            "name": "getCurrentCart",
            "description": "You should call this function whenever you want to see current product items in the cart",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "searchProductList",
            "description": "You should call this function whenever you want to search a list of product by its brand, category or subcategory.",
            "parameters": {
                "query": {
                    "type": "object",
                    "properties": {
                        "category": {
                            "type": "string",
                            "description": "this field is case insensitve",
                            "enums": [
                                "Makanan Dan Minuman",
                                "Pembersih Rumah Tangga",
                                "Perawatan Pribadi"
                            ]
                        },
                        "subcategory": {
                            "type": "string",
                            "description": "this field is case insensitve",
                            "enums": [
                                "Makanan Instan",
                                "Olahan Susu",
                                "Deterjen Pakaian",
                                "Pasta Gigi",
                                "Pembersih Lantai",
                                "Pencuci Piring",
                                "Shampo",
                                "Sabun Mandi"
                            ]
                        },
                        "brand": {
                            "type": "string",
                            "description": "this field is case insensitve",
                            "enums": [
                                "Indomie",
                                "Mie Sedaap",
                                "Sarimi",
                                "Supermi",
                                "ABC",
                                "Lemonilo",
                                "Pop Mie",
                                "Cimory",
                                "Ultra Milk",
                                "Greenfields",
                                "Frisian Flag",
                                "Dancow",
                                "Diamond Milk",
                                "IndoMilk",
                                "Bear Brand",
                                "Sustagen",
                                "Milagros",
                                "Yoforia",
                                "Biokul",
                                "Heavenly Blush",
                                "Rinso Molto",
                                "Systema",
                                "Rinso Sensi Fresh",
                                "Rinso",
                                "Gentle Gen",
                                "Attack Easy",
                                "Soklin Liquid",
                                "Wipol",
                                "Super Pell",
                                "Dettol",
                                "Mr. Muscle",
                                "Sunlight",
                                "Mama Lemon",
                                "Ekonomi",
                                "SOS",
                                "Lifebuoy",
                                "Pepsodent",
                                "Ciptadent",
                                "Sunsilk",
                                "Scarlett"
                            ]
                        }
                    }
                }
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "searchProductName",
            "description": "You should call this function whenever you want to search a product by its name",
            "parameters": {
                "product_name": {
                    "type": "string",
                    "description": "the name of product to be search"
                }
            },
            "required": ["product_name"]
        }
    },
    {
        "type": "function",
        "function": {
            "name": "addProduct",
            "description": "You should call this function whenever you want to add product items in the cart.",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be added"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "How many of the product to be added?"
                                }
                            },
                            "required": ["product_id", "quantity"]
                        }
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "modifyCart",
            "description": "You should call this function whenever you want to modify product items in the cart",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be modified"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "The quantity of the product to be modified."
                                }
                            },
                            "required": ["product_id", "quantity"]
                        },
                        "description": "list of product dictionaries"
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "checkoutCart",
            "description": "You should call this function whenever user wants to checkout the cart. Whenever this function is executed succesfully, strictly return a message following this template: \\{\"Action\": \"redirect_checkout\"\\}",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "showInvoice",
            "description": "You should call this function whenever you want to show user invoice. If this tool is successfully called, strictly return a message following this template: [{\"Action\": {\"bot_action\": \"redirect_invoice\", \"data\": {\"invoiceid\": \"id\"}}}]",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    }
]
