[
    {
        "type": "function",
        "function": {
            "name": "getCurrentCart",
            "description": "You should call this function whenever you want to see current product items in the cart",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "searchProductList",
            "description": "You should call this function whenever you want to search a list of product by its brand, category or subcategory.",
            "parameters": {
            "type": "object",
            "properties": {
                "query": {
                "type": "object",
                "properties": {
                    "category": {
                    "type": "string",
                    "description": "this field is case insensitive",
                    "enum": [
                        "Makanan Dan Minuman",
                        "Pembersih Rumah Tangga",
                        "Perawatan Pribadi"
                    ]
                    },
                    "subcategory": {
                    "type": "string",
                    "description": "this field is case insensitive",
                    "enum": [
                        "Makanan Instan",
                        "Olahan Susu",
                        "Deterjen Pakaian",
                        "Pasta Gigi",
                        "Pembersih Lantai",
                        "Pencuci Piring",
                        "Shampo",
                        "Sabun Mandi"
                    ]
                    },
                    "brand": {
                    "type": "string",
                    "description": "this field is case insensitive",
                    "enum": [
                        "Indomie",
                        "Mie Sedaap",
                        "Sarimi",
                        "Supermi",
                        "ABC",
                        "Lemonilo",
                        "Pop Mie",
                        "Cimory",
                        "Ultra Milk",
                        "Greenfields",
                        "Frisian Flag",
                        "Dancow",
                        "Diamond Milk",
                        "IndoMilk",
                        "Bear Brand",
                        "Sustagen",
                        "Milagros",
                        "Yoforia",
                        "Biokul",
                        "Heavenly Blush",
                        "Rinso Molto",
                        "Systema",
                        "Rinso Sensi Fresh",
                        "Rinso",
                        "Gentle Gen",
                        "Attack Easy",
                        "Soklin Liquid",
                        "Wipol",
                        "Super Pell",
                        "Dettol",
                        "Mr. Muscle",
                        "Sunlight",
                        "Mama Lemon",
                        "Ekonomi",
                        "SOS",
                        "Lifebuoy",
                        "Pepsodent",
                        "Ciptadent",
                        "Sunsilk",
                        "Scarlett"
                    ]
                    }
                }
                }
            },
            "required": ["query"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "addProduct",
            "description": "You must call this function whenever user wants to buy a product to help them add product items in the cart. However, if you don't have product id yet, you must call searchProductList function first to get the product id.",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be added"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "How many of the product to be added?"
                                }
                            },
                            "required": ["product_id", "quantity"]
                        }
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "modifyCart",
            "description": "You should call this function whenever you want to modify product items in the cart.",
            "parameters": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "product_id": {
                                    "type": "integer",
                                    "description": "The id of the product to be modified"
                                },
                                "quantity": {
                                    "type": "number",
                                    "description": "The quantity of the product to be modified."
                                }
                            },
                            "required": ["product_id", "quantity"]
                        },
                        "description": "list of product dictionaries"
                    }
                },
                "required": ["products"]
            }
        }
    },
    {
        "type": "function",
        "function": {
            "name": "checkoutCart",
            "description": "You should call this function whenever user wants to checkout the cart. Before calling this function, you must make sure to ask the user for confirmation first.Then, show the user https://indojuni.cafaku.dev/checkout and tell them if they decided to checkout they can click the link or tell you to proceed to checkout.",
            "parameters": {
                "type": "object",
                "properties": {}
            }
        }
    }
]
